/* body formatting */
body {
    background-color: #F3B02E;
    background-image: url('../images/background2.png'); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}
/* content from leinecker */
.content {
    padding: 1px 16px;
    height: 1000px;
    margin-top: 25px;
    margin-left: 270px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.loggedInDiv {
    font-family: 'Montserrat'; 
    font-weight: bolder;
    font-size: 2vw;
    align-self: center;
}
.accessUIDiv {
    align-self: center;
}
.tables {
    align-self: center;
}
.addContacts {
    align-self: center;
}

/* button formatting */
.btn {
    color: #007D2F;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 2.3vw;
    background:none;
    border:none;
    cursor: pointer;
    padding:0.3em 1.2em;
    margin:0.6em 0.3em 0.3em 0;
    float: right;
}
.btn:hover{
    color:#897261;
}

/* search bar formatting */
.search-container{
    background: #fff;
    font-family: 'Montserrat'; 
    height: 30px;
    width: 400px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
    width: 400px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-family: 'Montserrat'; 
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}

.search-container .search-btn .fas{
    color: rgb(68, 240, 226);
}

.search-container:hover{
  animation: linear 3;
}

span {
    color: rgb(164, 0, 0);
    font-family: 'Montserrat'; 
}
p {
    color: rgb(164, 0, 0);
    font-family: 'Montserrat';  
}
/* table formatting */
table{
    width:90%;
    table-layout: fixed;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .tbl-header{
    background-color: rgb(134, 213, 220);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgb(26, 43, 45);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-family: 'Montserrat'; 
    font-weight: 500;
    font-size: 12px;
    color: rgb(3, 70, 115);
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    font-family: 'Montserrat'; 
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: rgb(3, 70, 115);
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


.sidenav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: relative;
}

/*side navigation menu*/
.sidenav {
    width: 264px;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0px;
    top: 0px;
    overflow: auto; /*disables horizontal scroll*/
    position: fixed; /*scroll bar stays in place when user is scrolling*/
    background: rgba(155, 188, 115, 0.9);
}

/*navigation links*/
.sidenav a {
    padding: 10px 0px 15px 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    color: #007D2F;
}

.buttons {
    padding: 10px 0px 15px 0px;
    display: block;
}

/*buttons that are on the sidebar*/
.sidebuttons {
    padding: 10px 0px 15px 0px;
    display: inline-block;
}

.sidebuttons:hover{
    color:#897261;  
}

.buttons:hover{
    color:#897261;  
}

.sidenav a:hover{
    color: #897261;
}

.font {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    color: #007D2F;
    background:none;
    border:none;
    cursor: pointer;
    margin-left: 80px;

}

/* make sidebar a topbar for mobile view*/
@media screen and (max-width: 700px) {
    body {
        background-image: url('../images/backgroundmobile2.png') ; 
    }
	.sidenav {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden; /*hides scroll bar*/
        position:sticky;

    }
    .sidebuttons {
        position: relative;
        font-size: 4vw;
        top:5px;
    }
    .sidenav a{
        display: inline-block;
        padding: 10px;
        font-size: 4vw;
        top:5px;
        position: relative;
       }
    .sidenav img{
        width: 12vw;
        float:left;}

    div.content {
        margin-left: 0;
    }
    .buttons{margin-left: 100px;}
} 
/*displays the bar vertically*/
@media screen and (max-width: 400px) {
	.sidenav a{
        text-align: center;
        float:none;
    }
    .sidenav img{width: 40%;}
}