/* login form */
.form {
    border-radius: 17px;
    position: relative;
    background: rgba(155, 188, 115, 0.9);
    max-width: 350px;
    margin: 0 auto 100px;
    top: -110px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden;
    height: 360px;
    transition: .6s;

}

.input-field {
    border-radius: 17px;
    font-family: 'Montserrat';
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
}

.submit-btn {
    border-radius: 17px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    outline: 0;
    background: #897261;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.input-form {
    transition: .4s;
    position: absolute;
}

.input-field:valid {
    border: 2px solid #009345;
}

.input-field:invalid {
    border: 2px solid red;
}

.input-field:invalid:required {
    background-image: white;
}

/* username and password criteria message */
#explanation,
#explanationUser {
    display: none;
    color: #000;
    position: relative;
    bottom: 1px;
    text-align: center;
    font-family: 'Montserrat';
}

#explanation>p {
    position: relative;
    bottom: 10px;
}

/* error messaging formatting */
#loginResult {
    position: relative;
    bottom: 175px;
    color: rgb(203, 55, 21);
    font-family: 'Montserrat';
}

#signupResult {
    position: relative;
    bottom: 350px;
    color: rgb(203, 55, 21);
    font-family: 'Montserrat';
}

/* Add a green text color and a smile when the requirements are right */
.valid {
    color: #009345;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "😁";
}

/* Add a red text color and a sad face when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "☹️";
}

/* for the optional number, hyphen, and underscore in username signup field */
.opt {
    color: yellow;
}

.opt:before {
    position: relative;
    left: -35px;
    content: "😐";
}

/* bar surrounding login-signup buttons */
.button-box {
    width: 270px;
    margin: auto;
    position: relative;
    border-radius: 30px;
    top: -25px;
    box-shadow: 0 0 25px 0 rgba(137, 114, 97, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* login and signup buttons */
.toggle-btn {
    padding: 10px 42px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

/* brown slider at top of form */
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 140px;
    height: 100%;
    background: #897261;
    border-radius: 30px;
    transition: .4s;
}

#login {
    position: relative;
}

#loginButton,
#loginName,
#loginPassword {
    position: relative;
    bottom: -50px;
}

#signup {
    position: relative;
    left: -400px;
    top: -172px;
}

.submit-btn:hover {
    background: #cdab91;
}

/* body formatting */
body {
    background-color: #F3B02E;
    background-image: url('../images/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

/* logo formatting */
#logo {
    width: 10%;
    height: 10%;
    left: 0;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        background-image: url('../images/backgroundmobile.png');
    }

    #logo {
        width: 15%;
        height: 15%;
    }

    .form {
        flex-direction: column;
        width: 50%;
        position: relative;
        margin: auto;
        border-radius: 10px;
    }
}

/* For tablets devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-image: url('../images/backgroundmobile.png');
    }

    #logo {
        width: 15%;
        height: 15%;
    }

    .form {
        flex-direction: column;
        width: 50%;
        position: relative;
        margin: auto;
        border-radius: 10px;
    }
}