/* login form */
.form {
    border-radius: 17px;
    position: relative;
    background: rgba(155, 188, 115, 0.9);
    max-width: 350px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    overflow:hidden;
    display:block;
    height:350px;
}

.input-field {
    border-radius: 17px;
    font-family: 'Montserrat';
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    position:relative;
}

.submit-btn {
    border-radius: 17px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    outline: 0;
    background: #897261;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.input-form {
    transition: .2s;
    position: absolute;
}


.button-box {
    width: 270px;
    margin: auto;
    position: relative;
    border-radius: 30px;
    top: -25px;
    box-shadow: 0 0 25px 0 rgba(137, 114, 97, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color:#FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;
    text-align:center;
    
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 140px;
    height: 100%;
    background:   #897261;
    border-radius: 30px;
    transition: .2s;
}

#login
{
    position: relative;
}

#loginButton
{
    position: relative;
    bottom: -50px;
}

#loginName
{
    position: relative;
    bottom: -50px;
}

#loginPassword
{
    position: relative;
    bottom: -50px;
}

#signup
{
    position:relative;
    left:450px;
    top:-172px;
}

.submit-btn:hover {
    background: #cdab91;
}

.signup-form {
    left: 450px;
}

/* body formatting */
body {
    background-color: #F3B02E;
    background-image: url('../images/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    overflow:hidden;
}

/* logo formatting */
#logo {
    width: 10%;
    height: 10%;
    left: 0;
}

.btn:hover {
    color: #897261;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        background-image: url('../images/backgroundmobile.png');
    }

    #logo {
        width: 15%;
        height: 15%;
    }

    .form {
        flex-direction: column;
        width: 50%;
        position: relative;
        margin: auto;
        border-radius: 10px;
    }
}

/* For tablets devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-image: url('../images/backgroundmobile.png');
    }

    #logo {
        width: 15%;
        height: 15%;
    }

    .form {
        flex-direction: column;
        width: 50%;
        position: relative;
        margin: auto;
        border-radius: 10px;
    }
}