/*borders*/
:root {
    --radius: 5px;
    --padding: 10px;
}

/* body formatting */
body {
    background-color: #F3B02E;
    background-image: url('../images/backgroundmobile2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .44fr 3fr .3fr;
    grid-template-areas:
        "content1"
        "content2"
        "content3";
}

/* button formatting */
.btn {
    color: #007D2F;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 2.3vw;
    background:none;
    border:none;
    cursor: pointer;
    padding:0.3em 1.2em;
    margin:0.6em 0.3em 0.3em 0;
    float: right;
}
.btn:hover{
    color:#897261;
}
/*side navigation menu*/
.sidenav img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: relative;
}
.sidenav {
    width: 264px;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0px;
    top: 0px;
    overflow: auto; /*disables horizontal scroll*/
    position: fixed; /*scroll bar stays in place when user is scrolling*/
    background: rgba(155, 188, 115, 0.9);
}

/*navigation links*/
.sidenav a {
    padding: 10px 0px 15px 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    color: #007D2F;
}
.buttons {
    padding: 10px 0px 15px 0px;
    display: block;
}

/*buttons that are on the sidebar*/
.sidebuttons {
    padding: 10px 0px 15px 0px;
    display: inline-block;
}
.sidebuttons:hover{
    color:#897261;  
}
.buttons:hover{
    color:#897261;  
}
.sidenav a:hover{
    color: #897261;
}
.font {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    color: #007D2F;
    background:none;
    border:none;
    cursor: pointer;
    margin-left: 80px;
}

/*MEMBER ICONS*/
#members {
    grid-area: content2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr .2fr;
    grid-template-areas:
        "grid-item1 grid-item2"
        "grid-item1 grid-item3"
        "grid-item5 grid-item6";
    grid-gap: 50px;
}

#members>div {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 20px;
    color: #007D2F;
    width: 150px;
    height: 150px;
    border-radius: var(--radius);
    padding-top: var(--padding);
    margin: auto;
}

#grid-item1 {
    grid-area: grid-item1;
}

#grid-item2 {
    grid-area: grid-item2;
}

#grid-item3 {
    grid-area: grid-item3;
}

#grid-item4 {
    grid-area: grid-item4;
}

#grid-item5 {
    grid-area: grid-item5;
}

#grid-item6 {
    grid-area: grid-item6;
}

/*--------------------*/
#footer {
    grid-area: content3;
    display: grid;
    text-align: center;
    bottom: 0;
    display: block;
    text-align: center center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 44px;
    color: black;
    margin: auto;
}

/*tablets*/
@media only screen and (min-width:768px) {
    body {
        background-image: url('../images/backgroundmobile2.png');
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .35fr .5fr .5fr;
        grid-template-areas:
            "content1"
            "content2"
            "content3";
    }

    #members {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "grid-item1 grid-item2"
            "grid-item4 grid-item3"
            "grid-item5 grid-item6";
    }

    #footer {
        display: block;
    }
}

/*desktop*/
@media only screen and (min-width: 769px) {

    /* body formatting */
    body {
        background-image: url('../images/background2.png');
    }

    .buttons:hover,
    #sidebar a:hover {
        color: #897261;
    }

    .container {

        display: grid;
        grid-template-columns: .6fr repeat(3, 1fr);
        grid-template-rows: .1fr 1fr 2fr .1fr;
        height: 100vh;
        grid-gap: 8px;
        grid-template-areas:
            "content1 content2 content2 content2"
            "content1 content2 content2 content2"
            "content1 content2 content2 content2"
            "content1 content3 content3 content3"
    }

    /*MEMBER ICONS*/
    #members {
        grid-area: content2;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "grid-item1 grid-item2 grid-item3"
            "grid-item4 grid-item5 grid-item6";
        grid-gap: 100px;
        justify-content: center;
        align-content: center;
        border-radius: var(--radius);
        padding-top: var(--padding);
    }

    #members>div {
        width: 150px;
        height: 150px;
        font-size: 3vw;
        line-height: 50px
    }

    /*--------------------*/
    #footer {
        display: inline-block;
    }

}