:root {
    --radius: 5px;
    --padding: 10px;
}

/* body formatting */
body {
    background-color: #F3B02E;
    background-image: url('../images/backgroundmobile2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.buttons:hover,
#sidebar a:hover {
    color: #897261;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .44fr 3fr .3fr;
    grid-template-areas:
        "content1"
        "content2"
        "content3";
}

#sidebar {
    grid-area: content1;
    overflow: hidden;
    /*disables horizontal scroll*/
    background: rgba(155, 188, 115, 0.9);
}

#sidebar>a {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 55px;
    color: #007D2F;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: auto;
    top: 0px;
    padding-right:7px;
    padding-bottom: 10px;
}

.buttons {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 50px;
    color: #007D2F;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: auto;
    top: -1px;
}

.logo {
    height: 12vw;
    width: 12vw;
    float: left;
    position: relative;
    top: 0px;
}

/*MEMBER ICONS*/
#members {
    grid-area: content2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr .2fr;
    grid-template-areas:
        "grid-item1 grid-item2"
        "grid-item1 grid-item3"
        "grid-item5 grid-item6";
    grid-gap: 50px;
}

#members>div {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 20px;
    color: #007D2F;
    width: 150px;
    height: 150px;
    border-radius: var(--radius);
    padding-top: var(--padding);
    margin: auto;
}

#grid-item1 {
    grid-area: grid-item1;
}

#grid-item2 {
    grid-area: grid-item2;
}

#grid-item3 {
    grid-area: grid-item3;
}

#grid-item4 {
    grid-area: grid-item4;
}

#grid-item5 {
    grid-area: grid-item5;
}

#grid-item6 {
    grid-area: grid-item6;
}

/*--------------------*/
#footer {
    grid-area: content3;
    display: grid;
    text-align: center;
    bottom: 0;
    display: block;
    text-align: center center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 44px;
    color: black;
    margin: auto;
}



.grid-item img {
    width: 45%;
    height: auto;
    opacity: 80%;
}


/*tablets*/
@media only screen and (min-width:768px) {
    body {
        background-image: url('../images/backgroundmobile2.png');
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .35fr .5fr .5fr;
        grid-template-areas:
            "content1"
            "content2"
            "content3";
    }

    #members {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "grid-item1 grid-item2"
            "grid-item4 grid-item3"
            "grid-item5 grid-item6";
    }

    #sidebar>a,
    .buttons {
        display: inline-block;
        position: relative;
        vertical-align: top;
        top: 10px;
    }

    .logo{
        height: 5vw;
        width: 5vw;
    }

    #footer {
        display: block;
    }
}

/*desktop*/
@media only screen and (min-width: 769px) {

    /* body formatting */
    body {
        background-image: url('../images/background2.png');
    }

    .buttons:hover,
    #sidebar a:hover {
        color: #897261;
    }

    .container {

        display: grid;
        grid-template-columns: .6fr repeat(3, 1fr);
        grid-template-rows: .1fr 1fr 2fr .1fr;
        height: 100vh;
        grid-gap: 8px;
        grid-template-areas:
            "content1 content2 content2 content2"
            "content1 content2 content2 content2"
            "content1 content2 content2 content2"
            "content1 content3 content3 content3"
    }

    #sidebar>a,
    .buttons {
        display: block;
        line-height: 44px;
        margin: auto;
        font-size: 3vw;
        padding-bottom: 10px;
    }

    #logoutButton {
        text-align: center;
    }

    .logo {
        width: 15vw;
        height: 15vw;
        display: block;
        margin-left: 11px;
        margin-right: auto;
    }

    /*MEMBER ICONS*/
    #members {
        grid-area: content2;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "grid-item1 grid-item2 grid-item3"
            "grid-item4 grid-item5 grid-item6";
        grid-gap: 100px;
        justify-content: center;
        align-content: center;
        border-radius: var(--radius);
        padding-top: var(--padding);
    }

    #members>div {
        width: 150px;
        height: 150px;
        font-size: 3vw;
        line-height: 50px
    }

    /*--------------------*/
    #footer {
        display: inline-block;
    }

    .grid-item img {
        width: 45%;
        height: auto;
        opacity: 80%;
    }

}