/* signup form */
.form {
    border-radius: 17px;
    position: relative;
    background: rgba(155, 188, 115, 0.9);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    border-radius: 17px;
    font-family: 'Montserrat';
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form input[type=submit]{
    border-radius: 17px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    outline: 0;
    background: #897261;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px; 
}
.form button {
    border-radius: 17px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    outline: 0;
    background: #897261;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #cdab91;
}
.form .text {
    margin: 15px 0 0;
    color: #000000;
    font-size: 12px;
    font-family: 'Montserrat';
}
.form .text a {
    color: #007D2F;
    font-weight: bolder;
    text-decoration: none;
}

/* body formatting */
body {
    background-color: #F2B02F;
    background-image: url('../images/background.png') ; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* logo formatting */
#logo {
    padding-left: 1%;
    padding-top: 1%;
    width: 10%;
    height: 10%;
    left: 0;
    top: 0;
}

/* button formatting */
.btn {
    color: #007D2F;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 2.3vw;
    background:none;
    border:none;
    cursor: pointer;
    padding:0.3em 1.2em;
    margin:0.6em 0.3em 0.3em 0;
    float: right;
}
.btn:hover{
    color:#6ccf55;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        background-image: url('../images/backgroundmobile.png') ;
        /*allows form to resize */
        flex-direction: column;
        max-width: 300px;
        height: auto;
        position: relative;
        margin: auto;
    }
      }